# Employee Analysis

## Using SQLAlechemy analyze the data from SQL

In [2]:
# import sqlachemy
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func
from config import key

In [3]:
#set up connection to SQL database
engine = create_engine(f'postgresql://{key}localhost:5432/employee_DB')
connection = engine.connect()

In [4]:
# Import Matplot lib and pandas
import matplotlib
from matplotlib import style
style.use('seaborn')
import matplotlib.pyplot as plt
import pandas as pd

In [5]:
# get table names for database
inspector = inspect(engine)
table_names = inspector.get_table_names()
table_names

['titles',
 'employees',
 'departments',
 'dept_manager',
 'dept_employee',
 'salaries']

In [6]:
# get column names for each table
for t in table_names:
    columns = inspector.get_columns(t)
    print("...")
    print(f"Table: {t}")
    for c in columns:
        print(c['name'], c["type"])

...
Table: titles
title_id VARCHAR(5)
title VARCHAR(20)
...
Table: employees
employee_number INTEGER
employee_title_id VARCHAR(5)
birth_date DATE
first_name VARCHAR(30)
last_name VARCHAR(30)
sex VARCHAR(1)
hire_date DATE
...
Table: departments
dept_number VARCHAR(4)
dept_name VARCHAR(20)
...
Table: dept_manager
dept_number VARCHAR(5)
employee_number INTEGER
...
Table: dept_employee
employee_number INTEGER
dept_number VARCHAR(5)
...
Table: salaries
employee_number INTEGER
salary INTEGER

In [7]:
Base = automap_base()
Base.prepare(engine, reflect=True)

In [10]:

Titles = Base.classes.titles
Employees = Base.classes.employees
Salaries = Base.classes.salaries

AttributeError: salaries

In [ ]:
session = Session(engine)

In [ ]:
#close session
session.close()